<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Search</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Search for a Movie</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>

    <h2>Search Results:</h2>
    <ul>
        {% for movie in movies %}
<div class="movie">
    <h2>{{ movie.title }}</h2>
    <p>Release Date: {{ movie.release_date }}</p>
    <p>Overview: {{ movie.overview }}</p>
    <img src="{{ movie.poster_url }}" alt="{{ movie.title }} Poster">
</div>
{% endfor %}

    </ul>
</body>
</html>
